<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title> Home </title>
		<link href="../styles/index.css" rel="stylesheet">
	</head>
	<body>
		<div id="header"></div>
		<div id="titulo"> Home </div>
		<div class="container">
			<img id="img_perfil" src="../imagens/perfil.png"> </img>
			<div id="descricao">
				Rafael Hideaki Yara <br>
				FEI - Ciência da Computação <br>
			</div>
			<ul>
				<li> <a href="https://www.github.com/rhy2106"> Github </a> </li>
				<li> <a href="https://www.linkedin.com/in/rafael-hideaki-yara"> Linkedin </a> </li>
			</ul>
		</div>
		<h2> Projetos </h2>
		<div class="container">
			<div id="projetos">
			</div>
		</div>
		<script src="../src/header.js" type="text/javascript"></script>
		<script src="../src/projects.js" type="text/javascript"></script>
	</body>
</html>
