<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link href="/ProjetosAleatorios/styles/vim.css" rel="stylesheet">
		<link href="/ProjetosAleatorios/styles/index.css" rel="stylesheet">
		<title> Vim </title>
	</head>
	<body>
		<div id="header"></div>
		<div id="titulo"> Vim </div>
		<div class="container">
			<div id="editor">
			</div>
		</div>
		</div>
		<script src="/ProjetosAleatorios/src/header.js" type="text/javascript"></script>
		<script src="/ProjetosAleatorios/src/vim.js" type="text/javascript"></script>
	</body>
</html>
